body,a {
	font-family: "Karla", sans-serif;
	background-color: #000;
	color: #fff;
}

.index {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
	.index>label>input {
		width: 10rem;
	}
	.index>label {
		font-size: 120%;
	}

h1 {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
  line-height: 0rem;
  margin-top: 6rem;
}

div#form {
	border-top: 1px solid #888;
	padding-top: 4rem;
	margin-top: 1rem;
	display: flex;
	gap: 4rem;
}

div#form > div {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: flex-end;
	width: fit-content;
}

label {
	display: flex;
	gap: 1rem;
	align-items: baseline;
	cursor: pointer;
}

label.gapAfter {
	margin-bottom: 1rem;
}

input {
	background-color: transparent;
	border: 1px solid white;
	padding: 0.25rem;
	color: white;
	font-family: inherit;
	font-size: inherit;
	border-radius: 4px;
	width: 5rem;
}

#-json {
	display: none;
	background-color: blue;
	position: absolute;
	padding: 1rem;
	font-family: monospace;
}

button {
	padding: 0.5rem 1.5rem;
	border: 0px;
	border-radius: 3px;
	font-size: 1rem;
	background-color: #09f;
	color: #fff;
	cursor: pointer;
}

#-border {
	position: absolute;
	inset: 2.5rem 1rem 1rem;
	border: 1px solid white;
}

#-viewport {
	position: absolute;
	inset: 1rem;
	overflow: hidden;
}

/**
 * Toolbar shows links and the game state e.g. score across the top of the page.
 */
.toolbar {
	display: flex;
	padding: 0rem 1rem;
	justify-content: space-between;
}

/**
 * When the game is paused the toolbar and dynamic game entities are hidden.
 */
.paused .toolbar .hideOnPause,
.paused .bob,
.paused .spirit,
.paused .monster {
	display: none;
}
	.showOnPause {
		display: none;
	}
	.paused .showOnPause {
		display: block;
	}

/**
 * Scale the canvas when paused so the player can peek the map.
 */
.paused #-canvas {
	transform: scale(0.3);
	position: absolute;
}
.paused #-border {
	border: 1px solid transparent;
}

/**
 * All game entities generally have the same square form and a different background image.
 */
.entity {
	width: 64px;
	height: 64px;
	position: absolute;
}

/**
 * Walls and all their variants.
 */
.wall {
	background-image: url(../assets/wall.png);
}
	.wall-alt {
		background-image: url(../assets/wall-alt.png);
	}
	.wall-btop-alt {
		background-image: url(../assets/wall-btop-alt.png);
	}
	.wall-ltop-alt {
		background-image: url(../assets/wall-ltop-alt.png);
	}
	.wall-rtop-alt {
		background-image: url(../assets/wall-rtol-alt.png);
	}
	.wall-nbr-alt {
		background-image: url(../assets/wall-nbr-alt.png);
	}
	.wall-nbl-alt {
		background-image: url(../assets/wall-nbl-alt.png);
	}
	.wall-ltop {
		background-image: url(../assets/wall-ltop.png);
	}
	.wall-btop {
		background-image: url(../assets/wall-btop.png);
	}
	.wall-rtop {
		background-image: url(../assets/wall-rtop.png);
	}
	.wall-nbl {
		background-image: url(../assets/wall-nbl.png);
	}
	.wall-nbr {
		background-image: url(../assets/wall-nbr.png);
	}
	.wall-lboxnw {
		background-image: url(../assets/wall-lboxnw.png);
	}
	.wall-nboxn {
		background-image: url(../assets/wall-nboxn.png);
	}
	.wall-rboxne {
		background-image: url(../assets/wall-rboxne.png);
	}
	.wall-nboxw {
		background-image: url(../assets/wall-nboxw.png);
	}
	.wall-nboxe {
		background-image: url(../assets/wall-nboxe.png);
	}
	.wall-nboxsw {
		background-image: url(../assets/wall-nboxsw.png);
	}
	.wall-nboxs {
		background-image: url(../assets/wall-nboxs.png);
	}
	.wall-nboxse {
		background-image: url(../assets/wall-nboxse.png);
	}

.earth {
	background-image: url(../assets/earth.png);
}
	.earth-r1 {
		background-image: url(../assets/earth-r1.png);
	}
	.earth-r2 {
		background-image: url(../assets/earth-r2.png);
	}
	.earth-r3 {
		background-image: url(../assets/earth-r3.png);
	}

.boulder {
	background-image: url(../assets/boulder.png);
}
	.boulder-r1 {
		background-image: url(../assets/boulder-r1.png);
	}
	.boulder-r2 {
		background-image: url(../assets/boulder-r2.png);
	}
	.boulder-r3 {
		background-image: url(../assets/boulder-r3.png);
	}

.safe {
	background-image: url(../assets/safe.png);
}

.key {
	background-image: url(../assets/key.png);
}

.diamond {
	background-image: url(../assets/diamond.png);
}

.cage {
	background-image: url(../assets/cage.png);
}

.egg {
	background-image: url(../assets/egg.png);
}
.egg-cracked {
	background-image: url(../assets/egg-cracked.png);
}

.bob {
	background-image: url(../assets/bob.png);
	width: 64px;
	height: 64px;
	position: absolute;
}

.spirit {
	background-image: url(../assets/spirit.png);
	width: 64px;
	height: 64px;
	position: absolute;
}

.monster {
	background-image: url(../assets/monster.png);
	width: 64px;
	height: 64px;
	position: absolute;
}
