body,a {
	font-family: "Karla", sans-serif;
	background-color: #000;
	color: #fff;
}

.index {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
	.index>label>input {
		width: 10rem;
	}
	.index>label {
		font-size: 120%;
	}

h1 {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
  line-height: 0rem;
  margin-top: 6rem;
}

div#form {
	border-top: 1px solid #888;
	padding-top: 4rem;
	margin-top: 1rem;
	display: flex;
	gap: 4rem;
}

div#form > div {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: flex-end;
	width: fit-content;
}

label {
	display: flex;
	gap: 1rem;
	align-items: baseline;
	cursor: pointer;
}

label.gapAfter {
	margin-bottom: 1rem;
}

input {
	background-color: transparent;
	border: 1px solid white;
	padding: 0.25rem;
	color: white;
	font-family: inherit;
	font-size: inherit;
	border-radius: 4px;
	width: 5rem;
}

#-json {
	display: none;
	background-color: blue;
	position: absolute;
	padding: 1rem;
	font-family: monospace;
}

button {
	padding: 0.5rem 1.5rem;
	border: 0px;
	border-radius: 3px;
	font-size: 1rem;
	background-color: #09f;
	color: #fff;
	cursor: pointer;
}

.border {
	position: absolute;
	inset: 2rem;
	border: 1px solid white;
}

.scaled {
	position: absolute;
	inset: 2rem;
	overflow: hidden;
}

#-canvas {
	/* transform: scale(0.25); */
}

.toolbar {
	display: flex;
	gap: 3rem;
	padding-left: 2rem;
}

.entity {
	width: 64px;
	height: 64px;
	position: absolute;
}

.wall {
	background-image: url(../assets/wall.png);
}

.earth {
	background-image: url(../assets/earth.png);
}

.boulder {
	background-image: url(../assets/boulder.png);
}

.safe {
	background-image: url(../assets/safe.png);
}

.key {
	background-image: url(../assets/key.png);
}

.diamond {
	background-image: url(../assets/diamond.png);
}

.cage {
	background-image: url(../assets/cage.png);
}

.egg {
	background-image: url(../assets/egg.png);
}
.egg-cracked {
	background-image: url(../assets/egg-cracked.png);
}

.bob {
	background-image: url(../assets/bob.png);
	width: 64px;
	height: 64px;
	position: absolute;
}

.spirit {
	background-image: url(../assets/spirit.png);
	width: 64px;
	height: 64px;
	position: absolute;
}
