body {
	font-family: "Karla", sans-serif;
	background-color: #000;
	color: #fff;
}

a {
	color: #ff0;
	text-decoration: none;
}
	a:hover,
	a:focus {
		text-decoration: underline;
	}

#-banner {
	font-family: "Rubik 80s Fade", system-ui;
	position: absolute;
	inset: 0;
	backdrop-filter: blur(8px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: 1.5s fadeOut;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
	#-banner.level-complete {
		animation: 1.5s fadeIn;
		animation-delay: 0s;
	}
	#-level {
		font-size: 7rem;
		text-shadow: 1px 2px black, 0 0 1em black, 0 0 0.2em black;	
	}
	#-description {
		font-size: 4rem;
		text-shadow: 1px 2px black, 0 0 1em black, 0 0 0.2em black;	
	}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
	}
}

#-json {
	background-color: rgba(0,64,0,0.75);
	color: #0f0;
	position: absolute;
	padding: 1rem;
	inset: 2rem 5rem;
	font-family: monospace;
	white-space: pre;
	backdrop-filter: blur(8px);
}

#-border {
	position: absolute;
	inset: 2.5rem 1rem 1rem;
	border: 1px solid white;
}

#-viewport {
	position: absolute;
	inset: 1rem;
	overflow: hidden;
}

/**
 * Toolbar shows links and the game state e.g. score across the top of the page.
 */
.toolbar {
	display: flex;
	padding: 0rem 1rem;
	justify-content: space-between;
}

/**
 * When the game is paused the toolbar and dynamic game entities are hidden.
 */
.paused .toolbar .hideOnPause,
.paused .bob,
.paused .spirit,
.paused .monster {
	display: none;
}
	.showOnPause {
		display: none;
	}
	.paused .showOnPause {
		display: block;
	}

/**
 * Scale the canvas when paused so the player can peek the map.
 */
.paused #-canvas {
	transform: scale(0.3);
	position: absolute;
}
.paused #-border {
	border: 1px solid transparent;
}

/**
 * All game entities generally have the same square form and a different background image.
 */
.entity {
	width: 64px;
	height: 64px;
	position: absolute;
}

/**
 * Walls and all their variants.
 */
.wall {
	background-image: url(../assets/wall.png);
}
	.wall-l-aaa-nw {
		background-image: url(../assets/wall-l-aaa-nw.png);
	}
	.wall-b-aaa-n {
		background-image: url(../assets/wall-b-aaa-n.png);
	}
	.wall-r-aaa-ne {
		background-image: url(../assets/wall-r-aaa-ne.png);
	}

	.wall-l-aaa-w {
		background-image: url(../assets/wall-l-aaa-w.png);
	}
	.wall-r-aaa-e {
		background-image: url(../assets/wall-r-aaa-e.png);
	}

	.wall-x-aaa-sw {
		background-image: url(../assets/wall-x-aaa-sw.png);
	}
	.wall-x-aaa-s {
		background-image: url(../assets/wall-x-aaa-s.png);
	}
	.wall-x-aaa-se {
		background-image: url(../assets/wall-x-aaa-se.png);
	}

	.wall-l-aao-nw {
		background-image: url(../assets/wall-l-aao-nw.png);
	}
	.wall-x-aao-n {
		background-image: url(../assets/wall-x-aao-n.png);
	}
	.wall-r-aao-ne {
		background-image: url(../assets/wall-r-aao-ne.png);
	}

	.wall-x-aao-w {
		background-image: url(../assets/wall-x-aao-w.png);
	}
	.wall-x-aao-e {
		background-image: url(../assets/wall-x-aao-e.png);
	}

	.wall-x-aao-sw {
		background-image: url(../assets/wall-x-aao-sw.png);
	}
	.wall-x-aao-s {
		background-image: url(../assets/wall-x-aao-s.png);
	}
	.wall-x-aao-se {
		background-image: url(../assets/wall-x-aao-se.png);
	}

.wall-x-bbb {
	background-image: url(../assets/wall-x-bbb.png);
}
	.wall-l-bbb-nw {
		background-image: url(../assets/wall-l-bbb-nw.png);
	}
	.wall-b-bbb-n {
		background-image: url(../assets/wall-b-bbb-n.png);
	}
	.wall-r-bbb-ne {
		background-image: url(../assets/wall-r-bbb-ne.png);
	}

	.wall-l-bbb-w {
		background-image: url(../assets/wall-l-bbb-w.png);
	}
	.wall-r-bbb-e {
		background-image: url(../assets/wall-r-bbb-e.png);
	}

	.wall-x-bbb-sw {
		background-image: url(../assets/wall-x-bbb-sw.png);
	}
	.wall-x-bbb-s {
		background-image: url(../assets/wall-x-bbb-s.png);
	}
	.wall-x-bbb-se {
		background-image: url(../assets/wall-x-bbb-se.png);
	}

	.wall-l-bbo-nw {
		background-image: url(../assets/wall-l-bbo-nw.png);
	}
	.wall-x-bbo-n {
		background-image: url(../assets/wall-x-bbo-n.png);
	}
	.wall-r-bbo-ne {
		background-image: url(../assets/wall-r-bbo-ne.png);
	}

	.wall-x-bbo-w {
		background-image: url(../assets/wall-x-bbo-w.png);
	}
	.wall-x-bbo-e {
		background-image: url(../assets/wall-x-bbo-e.png);
	}

	.wall-x-bbo-sw {
		background-image: url(../assets/wall-x-bbo-sw.png);
	}
	.wall-x-bbo-s {
		background-image: url(../assets/wall-x-bbo-s.png);
	}
	.wall-x-bbo-se {
		background-image: url(../assets/wall-x-bbo-se.png);
	}

.earth {
	background-image: url(../assets/earth.png);
}
	.earth-r1 {
		background-image: url(../assets/earth-r1.png);
	}
	.earth-r2 {
		background-image: url(../assets/earth-r2.png);
	}
	.earth-r3 {
		background-image: url(../assets/earth-r3.png);
	}

.boulder {
	background-image: url(../assets/boulder.png);
}
	.boulder-r1 {
		background-image: url(../assets/boulder-r1.png);
	}
	.boulder-r2 {
		background-image: url(../assets/boulder-r2.png);
	}
	.boulder-r3 {
		background-image: url(../assets/boulder-r3.png);
	}

.safe {
	background-image: url(../assets/safe.png);
}

.key {
	background-image: url(../assets/key.png);
}

.diamond {
	background-image: url(../assets/diamond.png);
}
	.diamond-r1 {
		background-image: url(../assets/diamond-r1.png);
	}
	.diamond-r2 {
		background-image: url(../assets/diamond-r2.png);
	}
	.diamond-r3 {
		background-image: url(../assets/diamond-r3.png);
	}
	
.cage {
	background-image: url(../assets/cage.png);
}

.egg {
	background-image: url(../assets/egg.png);
}
.egg-cracked {
	background-image: url(../assets/egg-cracked.png);
}

.bob {
	background-image: url(../assets/bob.png);
	width: 64px;
	height: 64px;
	position: absolute;
}

.spirit {
	background-image: url(../assets/spirit.png);
	width: 64px;
	height: 64px;
	position: absolute;
}
	.spirit.north {
		background-image: url(../assets/spirit-n.png);
	}
	.spirit.east {
		background-image: url(../assets/spirit-e.png);
	}
	.spirit.west {
		background-image: url(../assets/spirit-w.png);
	}

.monster {
	background-image: url(../assets/monster-r1.png);
	width: 64px;
	height: 64px;
	position: absolute;
}
	.monster.r2 {
		background-image: url(../assets/monster-r2.png);
	}
	.monster.l1 {
		background-image: url(../assets/monster-l1.png);
	}
	.monster.l2 {
		background-image: url(../assets/monster-l2.png);
	}
