body {
	font-family: "Karla", sans-serif;
	background-color: #000;
	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../assets/wall-index.png');
	padding: 2rem;
	overflow-y: scroll;
	line-height: 1.3rem;
}
	body > div {
		width: 60rem;
		background-color: rgba(0,0,0,0.6);
		backdrop-filter: blur(4px);
		border-radius: 2rem;
		box-shadow: 0 8px 16px rgba(255,255,0,0.25);
	}

a {
	color: #ff0;
	text-decoration: none;
}
	a:hover,
	a:focus {
		text-decoration: underline;
	}

#-masthead {
	display: flex;
	align-items: baseline;
	justify-content: center;	
	gap: 0.1rem;
}
	#-masthead img {
		width: 3rem;
	}
	#-masthead h1 {
		margin: 4rem 1rem;
	}
	#-masthead h1 span {
		color: #888;
	}

#-tabs {
	display: flex;
	border-bottom: 1px solid #888;
	justify-content: center;
}
	#-tabs > div > a {
		padding: 1rem;
		display: block;
		color: #aaa;
	}
	#-tabs > div.selected a {
		border-bottom: 2px solid white;
		color: #fff;
	}

.hidden {
	display: none;
}

#-content {
	padding: 2rem;
}
	#-content > div {
		min-height: 20rem;
	}

.panels {
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}
	.panels > img {
		width: 40%;
		border: 1px solid #888;
		border-radius: 1rem;
		padding: 0.5rem;
	}

	.panels > div {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		gap: 1rem;
	}

p {
	margin: 0;
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
}

#-levels {
	margin-top: 1rem;
	font-size: 120%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 0.75rem;
}
	#-levels > a {
		padding: 1rem;
		background-color: #222;
		border: 1px solid #555;
		border-radius: 2px;
		flex: 0 0 10%;
		text-align: center;
	}
	#-levels > a:hover {
		background-color: #555;
		border: 1px solid #666;
	}
	#-levels > a.locked {
		background-color: #222;
		border: 1px solid #555;
		color: #888;
		text-decoration: none;
		cursor: default;
	}

#-seed {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 1rem;
	margin: 2rem 0 1.5rem;
}
	#-seed>label {
		font-size: 120%;
	}
	#-seed>div {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	#-seed input {
		width: 10rem;
		font-size: 120%;
	}
	#-seed>div>div {
		display: flex;
		gap: 1rem;
	}

h1 {
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
  line-height: 0rem;
  margin-top: 6rem;
}

div#-form {
	border-top: 1px solid #888;
	padding-top: 2rem;
	margin-top: 1rem;
	display: flex;
	gap: 4rem;
	justify-content: space-around;
}

div#-form > div {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: flex-end;
	width: fit-content;
}

label {
	display: flex;
	gap: 1rem;
	align-items: baseline;
	cursor: pointer;
}

label.gapAfter {
	margin-bottom: 1rem;
}

input {
	background-color: transparent;
	border: 1px solid white;
	padding: 0.25rem;
	color: white;
	font-family: inherit;
	font-size: inherit;
	border-radius: 4px;
	width: 5rem;
}

button {
	padding: 0.5rem 1.5rem;
	border: 0px;
	border-radius: 3px;
	font-size: 1rem;
	background-color: #09f;
	color: #fff;
	cursor: pointer;
}

.sprite {
	width: 3rem;
	height: 3rem;
	background-size: contain;
}

.monster {
	background-image: url('../assets/monster-l2.png');
}
.anim2 .monster {
	background-image: url('../assets/monster-l1.png');
}
.anim3 .monster {
	background-image: url('../assets/monster-r1.png');
}
.anim4 .monster {
	background-image: url('../assets/monster-r2.png');
}

.diamond {
	background-image: url('../assets/diamond.png');
}
.anim2 .diamond {
	background-image: url('../assets/diamond-r1.png');
}
.anim3 .diamond {
	background-image: url('../assets/diamond-r2.png');
}
.anim4 .diamond {
	background-image: url('../assets/diamond-r3.png');
}

.bob {
	background-image: url('../assets/bob-l1.png');
}
.anim2 .bob {
	background-image: url('../assets/bob-l2.png');
}
.anim3 .bob {
	background-image: url('../assets/bob-r1.png');
}
.anim4 .bob {
	background-image: url('../assets/bob-r2.png');
}

.earth {
	background-image: url('../assets/earth.png');
}
.boulder {
	background-image: url('../assets/boulder.png');
}
.egg {
	background-image: url('../assets/egg.png');
}
.key {
	background-image: url('../assets/key.png');
}
.safe {
	background-image: url('../assets/safe.png');
}
.cage {
	background-image: url('../assets/cage.png');
}
.spirit {
	background-image: url('../assets/spirit.png');
}
.anim2 .spirit {
	background-image: url('../assets/spirit-e.png');
}
.anim3 .spirit {
	background-image: url('../assets/spirit-n.png');
}
.anim4 .spirit {
	background-image: url('../assets/spirit-w.png');
}

div.instructions {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2rem;
}
div.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	flex: 1;
	min-width: 45%;
	border: 1px solid #444;
	padding: 1rem;
	border-radius: 1rem;
}
	div.instruction > div.frame {
		border: 1px solid #444;
		background-color: #222;
		border-radius: 1rem;
		padding: 1rem;
	}

#-credits {
	margin-top: 1rem;
	font-size: 85%;
	color: #bbb;
}
	#-credits a {
		color: #aaf;
	}
